<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="icon" type="image/x-icon" href="~/Image/logo_small.png" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/admin/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/admin/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/admin/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/admin/plugins/summernote/summernote-bs4.min.css">

</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/admin/dist/img/logo1.png" alt="AdminLogo" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("Index","Home")" class="nav-link">Home</a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->

                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
                <li class="nav navbar-nav flex-row justify-content-between ml-auto">
                    <a class="btn btn-outline-dark" href="@Url.Action("Logout","Home", new{area = "Admin"})">
                        <i class="ion-log-out text-uppercase"></i>Log Out
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="@Url.Action("Index","Home")" class="brand-link">
                <img src="/admin/dist/img/logo_small.png" alt="Admin Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light fw-bold text-orange">LQHV</span>
            </a>


            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar user panel (optional) 160x 160-->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    @if (Context.Session.GetString("adminImage") != null)
                    {
                        string adminImage = Context.Session.GetString("adminImage");
                        <div class="image">
                            <img src="/admin/dist/img/@adminImage" class="img-circle elevation-2" alt="Admin Image">
                        </div>
                    }
                    else
                    {
                        <div class="image">
                            <img src="~/admin/dist/img/defaultImage.jpg" class="img-circle elevation-2" alt="Admin Image">
                        </div>

                    }


                    @if (Context.Session.GetString("adminName") != null)
                    {
                        string adminName = Context.Session.GetString("adminName");
                        <div class="info fw-bold">
                            <a href="@Url.Action("AccountProfile", "Home",  new{area = "Admin"})" class="d-block">@adminName</a>
                        </div>

                    }
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2 pb-5">
                    <ul class="nav nav-pills nav-sidebar pb-2 flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item menu-open">
                            <a href="@Url.Action("Index","Report",new{area = ""})" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="@Url.Action("Index","Report",new{area = ""})" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    Report
                                </p>
                            </a>
                        </li>


                        @if (Context.Session.GetString("adminRole") == "Super admin")
                        {
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-user-tie"></i>
                                    <p>
                                        Users management
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>
                                                User
                                                <i class="right fas fa-angle-left"></i>
                                            </p>
                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a href="@Url.Action("ViewUser","Home", new{area = "Admin"})" class="nav-link">
                                                    <i class="far fa-dot-circle nav-icon"></i>
                                                    <p> User list</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="@Url.Action("AddUser","Home", new{area = "Admin"})" class="nav-link">
                                                    <i class="far fa-dot-circle nav-icon"></i>
                                                    <p> Add users</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item textl">
                                        <a href="#" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>
                                                Admin
                                                <i class="right fas fa-angle-left"></i>
                                            </p>
                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a href="@Url.Action("ViewAdmin","Home", new{area = "Admin"})" class="nav-link">
                                                    <i class="far fa-dot-circle nav-icon"></i>
                                                    <p> Admin list</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="@Url.Action("AddAdmin","Home", new{area = "Admin"})" class="nav-link">
                                                    <i class="far fa-dot-circle nav-icon"></i>
                                                    <p> Add Admin</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-user-tie"></i>
                                    <p>
                                        Users management
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>
                                                User
                                                <i class="right fas fa-angle-left"></i>
                                            </p>
                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a href="@Url.Action("ViewUser","Home", new{area = "Admin"})" class="nav-link">
                                                    <i class="far fa-dot-circle nav-icon"></i>
                                                    <p> User list</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="@Url.Action("AddUser","Home", new{area = "Admin"})" class="nav-link">
                                                    <i class="far fa-dot-circle nav-icon"></i>
                                                    <p> Add users</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item text-secondary">
                                        <a href="#" class="nav-link disabled">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>
                                                Admin
                                                <i class="right fas fa-angle-left"></i>
                                            </p>
                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a href="@Url.Action("ViewAdmin","Home", new{area = "Admin"})" class="nav-link">
                                                    <i class="far fa-dot-circle nav-icon"></i>
                                                    <p> Admin list</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="@Url.Action("AddAdmin","Home", new{area = "Admin"})" class="nav-link">
                                                    <i class="far fa-dot-circle nav-icon"></i>
                                                    <p> Add Admin</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                        }
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    News Management
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="pages/forms/general.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>News list</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/forms/advanced.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add news</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-sitemap"></i>
                                <p>
                                    Manage categories
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("cateList","Cate", new{area = ""})" class="nav-link ">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Categories list</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Create","Cate",new{area = ""})" class="nav-link ">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add Categories</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Package management
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("listPackage","Packages",new{area = ""})" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Package list</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("createPackage","Packages", new{area = ""})" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add Package</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fab fa-hornbill"></i>
                                <p>
                                    Country management
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{{ url('admin/slider/index') }}" class="nav-link disabled">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p> Country list</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ url('admin/slider/create') }}" class="nav-link disabled">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add Country</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fab fa-hornbill"></i>
                                <p>
                                    Region management
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{{ url('admin/slider/index') }}" class="nav-link disabled">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Region list</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ url('admin/slider/create') }}" class="nav-link disabled">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add Region</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fab fa-hornbill"></i>
                                <p>
                                    City management
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{{ url('admin/slider/index') }}" class="nav-link disabled">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>City list</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ url('admin/slider/create') }}" class="nav-link disabled">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add City</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fab fa-hornbill"></i>
                                <p>
                                    Area management
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{{ url('admin/slider/index') }}" class="nav-link disabled">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Area list</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ url('admin/slider/create') }}" class="nav-link disabled">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add Area</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Manage Ads Posts
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("listAds","Ads", new{area = ""})" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>List of posts ads</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/examples/profile.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Approve</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fab fa-nutritionix"></i>
                                <p>
                                    Manage payments
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link disabled">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Payment history list</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item user-panel mt-2 pb-2 mb-2">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-bell"></i>
                                <p>
                                    Contact management
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{{ route('admin.feedback')}}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Contact list</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-header user-panel mt-2 pb-2 mb-2 pe-2">ACCOUNT</li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user-circle pe-2"></i>
                                <p>
                                    My account
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("AccountProfile", "Home",  new{area = "Admin"})" class="nav-link">
                                        <i class="fas fa-list-alt pe-2 pl-2"></i>
                                        <p class="pl-2">Profile</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("ChangePassword","Home")" class="nav-link">
                                        <i class="fas fa-user-lock pe-2 pl-2"></i>
                                        <p class="pl-2">Change Password</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Logout","Home", new{area = "Admin"})" class="nav-link">
                                        <i class="fas fa-sign-out-alt pe-2 pl-2"></i>
                                        <p class="pl-2">Log out</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>
                Copyright &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script>
            </strong>
            <div class="text-primary d-none d-sm-inline-block">
                Realtors Portal LQHV
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="/admin/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="/admin/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="/admin/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="/admin/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="/admin/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/admin/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="/admin/plugins/moment/moment.min.js"></script>
    <script src="/admin/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="/admin/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/admin/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/admin/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/admin/dist/js/pages/dashboard.js"></script>
</body>
</html>
