@model Eproject_RealtorsPortal.Models.ProductAdd
@{
    Layout = "~/Views/Shared/_layout_UserHome.cshtml";
}
<h4>Product</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-lg-4">
        <form asp-action="CreateAds" method="POST" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ProductTitle" class="control-label">Title</label>
                <input asp-for="ProductTitle" class="form-control" />
                <span asp-validation-for="ProductTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDesc" class="control-label">Description</label>
                <textarea asp-for="ProductDesc" class="form-control"></textarea>
                <span asp-validation-for="ProductDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductArea" class="control-label">Area</label>
                <input asp-for="ProductArea" class="form-control" placeholder="Km&sup2;" value=""/>
                <span asp-validation-for="ProductArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label">Price</label>
                <input asp-for="ProductPrice" class="form-control"  placeholder="USD" value=""/>
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImage" class="control-label">Image Box</label>
                <input asp-for="ProductImage" type="file" class="form-control" />
                <span asp-validation-for="ProductImage" class="text-danger"></span>
                <label for="Image" class="control-label">Image Box</label>
                <input id="Image" type="file" class="form-control" name="files" multiple />
            </div>

            <div class="form-group">
                <label asp-for="CountryName" class="control-label">Country</label>
                <select asp-for="CountryName" list="country" class="form-control" onchange="filterRegions()">
                <datalist id="country">
                        <option value=" "></option>
                    @foreach (var item in Model.Countries)
                    {
                        <option value="@item.CountriesName" id="Country @item.CountriesId">
                            @item.CountriesName
                        </option>
                    }
                </datalist>
                </select>
                 <label asp-for="RegionName" class="control-label">Region</label>
                <select asp-for="RegionName" list="city" class="form-control" onchange="filterCities()">
                <datalist id="city">
                         <option value=" "></option>
                    @foreach (var item in Model.Regions)
                    {
                        <option value="@item.RegionsName" class="Region @item.CountriesId" id="Region @item.RegionsId">
                            @item.RegionsName
                        </option>
                    }
                </datalist>
                </select>
                <label asp-for="CityName" class="control-label">City</label>
                <select asp-for="CityName" list="city" class="form-control" onchange="filterAreas()">
                <datalist id="city">                       
                    <option value=" "></option>
                    @foreach (var item in Model.Cities)
                    {
                        <option value="@item.CitiesName" class=" Region @item.RegionsId" id="City @item.CitiesId">
                            @item.CitiesName
                        </option>
                    }
                </datalist>
                </select>
                <label asp-for="AreaName" class="control-label">Area</label>
                <select asp-for="AreaName" list="area" class="form-control">
                    <datalist id="area">
                        <option value=" "></option>
                        @foreach (var item in Model.Areas)
                        {
                            <option value="@item.AreasName" class="City @item.CitiesId" id="Area @item.AreasId">
                                @item.AreasName
                            </option>
                        }
                    </datalist>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ProductAddress" class="control-label">Address</label>
                <input asp-for="ProductAddress" class="form-control" placeholder="(Number of the house, Name of the street,....)"/>
                <span asp-validation-for="ProductAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductLegal" class="control-label">Certification</label>
                <input asp-for="ProductLegal" class="form-control" />
                <span asp-validation-for="ProductLegal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductInterior" class="control-label">Interior</label>
                <input asp-for="ProductInterior" class="form-control" />
                <span asp-validation-for="ProductInterior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumToilets" class="control-label">Number of toilets</label>
                <input asp-for="NumToilets" class="form-control" />
                <span asp-validation-for="NumToilets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumBedrooms" class="control-label">Number of bedrooms</label>
                <input asp-for="NumBedrooms" class="form-control" />
                <span asp-validation-for="NumBedrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeOrientation" class="control-label">Home orientation</label>
                <input asp-for="HomeOrientation" class="form-control" />
                <span asp-validation-for="HomeOrientation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BalconyOrientation" class="control-label">Balcony Orientation</label>
                <input asp-for="BalconyOrientation" class="form-control" />
                <span asp-validation-for="BalconyOrientation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumOfFloors" class="control-label">Number of floors</label>
                <input asp-for="NumOfFloors" class="form-control" />
                <span asp-validation-for="NumOfFloors" class="text-danger"></span>
            </div>
@*             @if(Context.Session.GetString(""))
*@            <div class="form-group">
                <label asp-for="NumDays" class="control-label">Number of days</label>
                <select asp-for="NumDays" list="days" class="form-control">
                    <datalist id="days">
                        <option value="7">7 days</option>
                        <option value="10">10 days</option>
                        <option value="30">30 days</option>
                    </datalist>
                </select>
                <span asp-validation-for="NumDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PackagesId" class="control-label">Category: </label>
                <select asp-for="PackagesId" list="package" class="form-control">
                    <datalist id="package">
                        @foreach (var item in Model.Package)
                        {
                            <option value="@item.PackagesId">
                                @item.PackagesName
                            </option>
                        }
                    </datalist>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Start Date</label>
                <input asp-for="StartDate" class="form-control" value="@String.Format("{0:yyyy/MM/ddTHH:mm}",DateTime.Today)" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            @if (Context.Session.GetString("UserAccount") != null)
            {
                <div class="form-group form-check">
                    <label class="form-check-label">
                    <input class="form-check-input" asp-for="Featured" /> @Html.DisplayNameFor(model => model.Featured)
                </label>
            </div>
            }
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category: </label>
                <select asp-for="CategoryId" list="category" class="form-control">
                    <datalist id="category">
                        @foreach (var item in Model.Categories)
                        {
                            <option value="@item.CategoryId">
                                @item.CategoryName
                            </option>
                        }
                    </datalist>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactName" class="control-label">Contact Name: </label>
                <input asp-for="ContactName" class="form-control" />
                <span asp-validation-for="ContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone Number: </label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactAddress" class="control-label">Contact Address: </label>
                <input asp-for="ContactAddress" class="form-control" />
                <span asp-validation-for="ContactAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactEmail" class="control-label">Contact Email</label>
                <input asp-for="ContactEmail" class="form-control" />
                <span asp-validation-for="ContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*                <label asp-for="UsersId" class="control-label"></label>
                *@                <input asp-for="UsersId" class="form-control" type="hidden" value="@Context.Session.GetString("UserId")" />
                <span asp-validation-for="UsersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AllOwnAds">Back to List</a>
</div>
<script>

    $(document).ready(function () {
        $("#StartDate").keyup(function (event) {
            var a = document.getElementById("StartDate").value;
            var b = document.getElementById("NumDays").value;
            var selValue = b.options[b.selectedIndex].value;
            $("#EndDate").text(a + b);
        })
    })
    function filterRegions() {
        var selectedOption = document.querySelector('.form-control option:selected');
        var country = selectedOption.id;
        // Get the selected country value
        //var country = this.id;

        // Get all the region options
        var regionOptions = document.querySelectorAll('.form-control option.Region');

        // Loop through the region options
        for (var i = 0; i < regionOptions.length; i++) {
            var option = regionOptions[i];

            // If the option's parent country is the selected country, show the option
            if (option.classList.contains('Region ' + country)) {
                option.style.display = 'block';
            } else {
                // Otherwise, hide the option
                option.style.display = 'none';
            }
        }

        // Reset the selected value of the region dropdown list
        document.querySelector('.form-control[list=region]').value = '';

        // Hide all the city options
        var cityOptions = document.querySelectorAll('.form-control option.City');
        for (var i = 0; i < cityOptions.length; i++) {
            cityOptions[i].style.display = 'none';
        }
    }
    function filterCities() {
        var selectedOption = document.querySelector('.form-control option:selected');
        var region = selectedOption.id;
        // Get the selected region value
        //var region = this.id;

        // Get all the city options
        var cityOptions = document.querySelectorAll('.form-control option.City');

        // Loop through the city options
        for (var i = 0; i < cityOptions.length; i++) {
            var option = cityOptions[i];

            // If the option's parent region is the selected region, show the option
            if (option.classList.contains('City ' + region)) {
                option.style.display = 'block';
            } else {
                // Otherwise, hide the option
                option.style.display = 'none';
            }
        }

        // Reset the selected value of the city dropdown list
        document.querySelector('.form-control[list=city]').value = '';

        // Hide all the area options
        var areaOptions = document.querySelectorAll('.form-control option.Area');
        for (var i = 0; i < areaOptions.length; i++) {
            areaOptions[i].style.display = 'none';
        }
    } 
    function filterAreas() {
        var selectedOption = document.querySelector('.form-control option:selected');
        var city = selectedOption.id;
        // Get the selected city value
        //var city = this.id;

        // Get all the area options
        var areaOptions = document.querySelectorAll('.form-control option.Area');

        // Loop through the area options
        for (var i = 0; i < areaOptions.length; i++) {
            var option = areaOptions[i];

            // If the option's parent city is the selected city, show the option
            if (option.classList.contains('Area ' + city)) {
                option.style.display = 'block';
            } else {
                // Otherwise, hide the option
                option.style.display = 'none';
            }
        }
    }
</script>