@model Eproject_RealtorsPortal.Models.ProductAdd
@{
    Layout = "~/Views/Shared/_layout_UserHome.cshtml";
}
<h4>Product</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-lg-4">
        <form asp-action="CreateAds" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ProductTitle" class="control-label">Title</label>
                <input asp-for="ProductTitle" class="form-control" />
                <span asp-validation-for="ProductTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDesc" class="control-label">Description</label>
                <textarea asp-for="ProductDesc" class="form-control"></textarea>
                <span asp-validation-for="ProductDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductArea" class="control-label">Area</label>
                <input asp-for="ProductArea" class="form-control" />
                <span asp-validation-for="ProductArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label">Price</label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImage" class="control-label">Image</label>
                <input asp-for="ProductImage" type="file" class="form-control" />
                <span asp-validation-for="ProductImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Areas" class="control-label">Area</label>
                <select asp-for="Areas" list="area" class="form-control">
                    <datalist id="area">
                    @foreach (var item in @Model.Areas)
                    {
                            <option value="@item.AreasName">
                            @item.AreasName
                        </option>
                    }
                </datalist>
                </select>
                <label asp-for="Cities" class="control-label">City</label>
                <select asp-for="Cities" list="city" class="form-control">
                    <datalist id="city">
                        @foreach (var item in @Model.Cities)
                        {
                            <option value="@item.CitiesName">
                                @item.CitiesName
                            </option>
                        }
                    </datalist>
                </select>
                <label asp-for="Region" class="control-label">Region</label>
                <select asp-for="Region" list="region" class="form-control">
                    <datalist id="region">
                        @foreach (var item in @Model.Region)
                        {
                            <option value="@item.RegionsName">
                                @item.RegionsName
                            </option>
                        }
                    </datalist>
                </select>
                <label asp-for="Countries" class="control-label">Country</label>
                <select asp-for="Countries" list="country" class="form-control">
                    <datalist id="country">
                        @foreach (var item in @Model.Countries)
                        {
                            <option value="@item.CountriesName">
                                @item.CountriesName
                            </option>
                        }
                    </datalist>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ProductAddress" class="control-label">Address</label>
                <input asp-for="ProductAddress" class="form-control" />
                <span asp-validation-for="ProductAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductLegal" class="control-label">Certification</label>
                <input asp-for="ProductLegal" class="form-control" />
                <span asp-validation-for="ProductLegal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductInterior" class="control-label">Interior</label>
                <input asp-for="ProductInterior" class="form-control" />
                <span asp-validation-for="ProductInterior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumToilets" class="control-label">Number of toilets</label>
                <input asp-for="NumToilets" class="form-control" />
                <span asp-validation-for="NumToilets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumBedrooms" class="control-label">Number of bedrooms</label>
                <input asp-for="NumBedrooms" class="form-control" />
                <span asp-validation-for="NumBedrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeOrientation" class="control-label">Home orientation</label>
                <input asp-for="HomeOrientation" class="form-control" />
                <span asp-validation-for="HomeOrientation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BalconyOrientation" class="control-label">Balcony Orientation</label>
                <input asp-for="BalconyOrientation" class="form-control" />
                <span asp-validation-for="BalconyOrientation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumOfFloors" class="control-label">Number of floors</label>
                <input asp-for="NumOfFloors" class="form-control" />
                <span asp-validation-for="NumOfFloors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PackagesId" class="control-label">Package</label>
                <select asp-for="PackagesId" list="package" class="form-control" >
                <datalist id="package">
                    @foreach (var item in @Model.Package)
                    {
                        <option value="@item.PackagesId">
                            @item.PackagesName
                        </option>
                    }
                </datalist>
                </select>


                <span asp-validation-for="PackagesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumDays" class="control-label">Number of days</label>
                <select asp-for="NumDays" list="days"class="form-control" >
                    <datalist id="days">
                        <option value="7">7 days</option>
                        <option value="10">10 days</option>
                        <option value="30">30 days</option>
                    </datalist>
                </select>
                <span asp-validation-for="NumDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Start Date</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
@*                <label asp-for="EndDate" class="control-label"></label>
*@                <input asp-for="EndDate" class="form-control" type="hidden" value=" "/>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Featured" /> @Html.DisplayNameFor(model => model.Featured)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category: </label>
                <select asp-for="CategoryId" list="category" class="form-control">
                    <datalist id="category">
                        @foreach (var item in @Model.Categories)
                        {
                            <option value="@item.CategoryId">
                                @item.CategoryName
                            </option>
                        }
                    </datalist>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactName" class="control-label">Contact Name: </label>
                <input asp-for="ContactName" class="form-control" />
                <span asp-validation-for="ContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone Number: </label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactAddress" class="control-label">Contact Address: </label>
                <input asp-for="ContactAddress" class="form-control" />
                <span asp-validation-for="ContactAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactEmail" class="control-label">Contact Email</label>
                <input asp-for="ContactEmail" class="form-control" />
                <span asp-validation-for="ContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
@*                <label asp-for="UsersId" class="control-label"></label>
*@                <input asp-for="UsersId" class="form-control" type="hidden" value="@Context.Session.GetString("UserId")" />
                <span asp-validation-for="UsersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>

    $(document).ready(function(){
        $("#StartDate").keyup(function(event){
            var a = document.getElementById("StartDate").value;
            var b = document.getElementById("NumDays").value;
            $("#EndDate").text(a+b);
        })
        //var c = document.getElementById("Area").value;
        //var d = document.getElementById("Cities").value;
        //var e = document.getElementById("Country").value;
        var textAddress = document.getElementById("ProductAddress").value;
        $("#Area").keyup(function (event) {
            var c = document.getElementById("Area").value;
            textAddress+=c;
            $("#ProductAddress").text(textAddress);
        })
    })
</script>
