@model Eproject_RealtorsPortal.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Product Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="ml-5">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductLegal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductLegal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductInterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductInterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumToilets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumToilets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumBedrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumBedrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeOrientation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeOrientation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BalconyOrientation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BalconyOrientation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfFloors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOfFloors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackagesId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackagesId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Featured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Featured)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsersId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsersId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="listAds">Back to List</a>
</div>
