@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Product
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="~/Image/(@Model.Images)" alt="..." /></div>
            <div class="col-md-6">
                <input type="hidden" id="id" value="@Model.ProductId" />
@*                <div class="small mb-1"></div>
*@                <h1 class="display-5 fw-bolder">@Model.ProductTitle</h1>
                <div class="fs-5 mb-5">
                        <span>@(string.Format("{0:n} đồng", Model.ProductPrice))</span>
                </div>
@*                Các phần chi tiết của nơi
*@                <p class="lead">@Model.ProductDesc</p>
            </div>
        </div>
    </div>
    <center>
        <div class="d-flex">
            <p class="lead">@Model.ProductDesc</p>
        </div>
    </center>
</section>