@{
}
@model ProductDetail
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-8">
                <article class="gallery-wrap">
                    <div class="img-big-wrap" style="height: auto;">
                        <img class="rounded" height="400"
                             src="~/Ads/@(Model.ProductImage).jpg">
                    </div>
                    @*<!-- img-big-wrap.// -->
                    <div class="mb-4 d-flex justify-content-between overflow-hidden">
                    <a href="https://bootstrap-ecommerce.com/components.html#" class="item-thumb me-2">
                    <img class="rounded" height="96"
                    src="./Ecommerce templates for Figma and Sketch_files/thumb1(3).webp">
                    </a>
                    <a href="https://bootstrap-ecommerce.com/components.html#" class="item-thumb me-2">
                    <img class="rounded" height="96"
                    src="./Ecommerce templates for Figma and Sketch_files/thumb2(3).webp">
                    </a>
                    <a href="https://bootstrap-ecommerce.com/components.html#" class="item-thumb me-2">
                    <img class="rounded" height="96"
                    src="./Ecommerce templates for Figma and Sketch_files/thumb3(3).webp">
                    </a>
                    <a href="https://bootstrap-ecommerce.com/components.html#" class="item-thumb me-2">
                    <img class="rounded" height="96"
                    src="./Ecommerce templates for Figma and Sketch_files/thumb4(3).webp">
                    </a>
                    <a href="https://bootstrap-ecommerce.com/components.html#" class="item-thumb me-2">
                    <img class="rounded" height="96"
                    src="./Ecommerce templates for Figma and Sketch_files/thumb5.webp">
                    </a> <a href="https://bootstrap-ecommerce.com/components.html#" class="item-thumb me-2">
                    <img class="rounded" height="96"
                    src="./Ecommerce templates for Figma and Sketch_files/thumb6.webp">
                    </a> <a href="https://bootstrap-ecommerce.com/components.html#" class="item-thumb me-2">
                    <img class="rounded" height="96"
                    src="./Ecommerce templates for Figma and Sketch_files/thumb5.webp">
                    </a> <a href="https://bootstrap-ecommerce.com/components.html#" class="item-thumb me-2">
                    <img class="rounded" height="96"
                    src="./Ecommerce templates for Figma and Sketch_files/thumb6.webp">
                    </a>
                    </div>*@ <!-- thumbs-wrap.// -->
                </article> <!-- gallery-wrap .end// -->
                <article>
                    <h5>Detailed info</h5>
                    <p>
                        @Model.ProductDesc
                    </p>
@*                    <div class="mb-3">
                        <span class="tag">
                            <i class="me-2 text-success fa fa-check"></i>
                            Parking places
                        </span> <span class="tag">
                            <i class="me-2 text-success fa fa-check"></i> Security
                        </span>
                        <span class="tag"> <i class="me-2 text-success fa fa-check"></i> Internet </span>
                    </div>*@
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td width="200">
                                    <i class="fa-fw me-2 text-muted fa fa-home"></i> <b class="text-dark">Certification</b>
                                </td>
                                <td> @Model.ProductLegal </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa-fw me-2 text-muted fa fa-building"></i> <b class="text-dark">Floor</b>
                                </td>
                                <td> @Model.NumOfFloors</td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa-fw me-2 text-muted fa fa-ruler-combined"></i> <b class="text-dark">Area Size</b>
                                </td>
                                <td> @(Model.ProductArea)m&sup2; </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa-fw me-2 text-muted fa fa-couch"></i> <b class="text-dark">Funiture</b>
                                </td>
                                <td> @Model.ProductInterior </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa-fw me-2 text-muted fas fa-bath"></i><b>Toilet</b>
                                </td>
                                <td>@Model.NumToilets</td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </div> <!-- col.// -->
            <aside class="col-lg-4">
                @*<a href="https://bootstrap-ecommerce.com/components.html#"
                class="btn btn-light float-end"> <i class="fa fa-heart me-2"></i> Save </a> <time datetime="2022-02-14 20:00" class="text-muted"> 12 Sept Tue, </time> *@<b class="clearfix"></b>
                <div class="price mt-2 h5">
                    @if (@Model.BusinessTypeID == 1)
                    {
                        <p>
                            @(@Model.ProductPrice) USD/Month
                        </p>

                        <br />
                    }
                    @if (@Model.BusinessTypeID == 2)
                    {
                        <p>
                            @(@Model.ProductPrice) USD<br>@(Model.ProductArea)/m&sup2;
                        </p>
                    }
                </div>

                <h6>
                    @if (!String.IsNullOrEmpty(Model.HomeOrientation))
                    {
                        <p>
                            Home Orientation: @Model.HomeOrientation
                        </p>
                    }
                    @if (!String.IsNullOrEmpty(Model.BalconyOrientation))
                    {
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;Balcony Orientation: @Model.BalconyOrientation
                        </p>
                    }
                </h6>
                <hr>
                <p> <i class="fa fa-map-marker-alt text-muted"></i> @Model.ProductAddress </p>
                <article class="bg-gray overflow-hidden position-relative rounded" style="height: 130px"> <a href="https://www.google.com/maps/place/@Model.ProductAddress" class="center-xy btn btn-light" target="_blank">Show on map</a>
                    <img src="~/Ads/map.webp" class="img-fluid opacity">
                </article> <br>
                <article class="box">
                    <div class="icontext mb-3 w-100">
                        <div class="text">
                            <h6 class="title">Contact Name: @Model.ContactName</h6>
                        </div>
                    </div>
                    <div>
                        @if (!String.IsNullOrEmpty(Model.PhoneNumber))
                        {
                            <button class="btn w-100 btn-lg btn-success">
                                <i class="fa fa-phone me-2"></i> Show phone
                            </button>
                            <input class="btn w-100 btn-lg" id="phoneNum" type="tel" value="@Model.PhoneNumber" readonly />
                        }
                        @if (!String.IsNullOrEmpty(Model.ContactEmail)){

                            <button class="btn w-100 btn-lg btn-warning">
                                <i class="fa fa-comment-dots me-2"></i>Message author
                            </button>
                            <input class="btn w-100 btn-lg" id="emailCon" type="email" value="@Model.ContactEmail" readonly />
                        }
                    </div>
                </article>
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card-body.// -->
</div>
<script>
    $(document).ready(function () {
        $.('#emailCon').hide()
        $.('phoneNum').hide()
    }

</script>