@model Eproject_RealtorsPortal.Models.User

@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content pt-2 pb-1">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Update User - @Model.UsersFullname</h3>
                    </div>
                 
                    <!-- form start -->
                    <form asp-action="EditUser" method="post" role="form" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="txt-name">ID</label>
                                <input type="text" class="form-control" name="UsersId" value="@Model.UsersId" readonly>
                            </div>
                            <div class="form-group">
                                <label for="txt-name">Full Name</label>
                                <input type="text" class="form-control"  name="UsersFullname" value="@Model.UsersFullname" readonly>
                            </div>

                            <div class="form-group">
                                <label for="txt-name">Email</label>
                                <input type="text" class="form-control" name="UsersEmail" value="@Model.UsersEmail" readonly>
                            </div>
                            <div class="form-group">
                                <label for="txt-name">Phone</label>
                                <input type="text" class="form-control" name="UsersId" value="@Model.UsersPhone" readonly>
                            </div>
                            <div class="form-group">
                                <label for="txt-name">Address</label>
                                <input type="text" class="form-control"  name="UsersFullname" value="@Model.UsersAddress" readonly>
                            </div>
                            <div class="row">
                                @if (Model.UsersImage != null)
                                {
                                    <div class="col-6 col-auto">
                                        <div class="form-group">
                                            <label for="image">Avatar</label> <br>
                                            <img src="~/Image/User/@Model.UsersImage" class="img-circle elevation-2" width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="col-6 col-auto">
                                        <div class="form-group">

                                            @if (Model.UsersGender != null)
                                            {
                                                <label for="txt-name" class="pe-2">Gender: </label>
                                                @if (Model.UsersGender == true)
                                                {
                                                    <p><i class="fas fa-male"></i>Male</p>
                                                }
                                                else
                                                {
                                                    <p><i class="fas fa-female"></i>Female</p>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {

                                    <div class="col-auto">
                                        <div class="form-group">
                                            @if (Model.UsersGender != null)
                                            {
                                                <label for="txt-name" class="pe-2">Gender: </label>
                                                @if (Model.UsersGender == true)
                                                {
                                                    <p><i class="fas fa-male"></i>Male</p>
                                                }
                                                else
                                                {
                                                    <p><i class="fas fa-female"></i>Female</p>
                                                }
                                            }
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="form-group">
                                <label for="txt-name">Status</label><br />
                                @if (Model.UsersStatus == false)
                                {
                                    <div class="row">
                                        <div class="col-auto">
                                            <label for="UsersStatus" class="btn btn-danger">
                                                <input type="radio" name="UsersStatus" value="false" checked>
                                                Not activated
                                            </label>
                                        </div>
                                        <div class="col-auto">
                                            <label for="UsersStatus" class="btn btn-warning">
                                                <input type="radio" name="UsersStatus" value="true">
                                                Activated
                                            </label>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col-auto">
                                            <label for="UsersStatus" class="btn btn-danger">
                                                <input type="radio" name="UsersStatus" value="false">
                                                Not activated
                                            </label>
                                        </div>
                                        <div class="col-auto">
                                            <label for="UsersStatus" class="btn btn-warning">
                                                <input type="radio" name="UsersStatus" value="true" checked>
                                                Activated
                                            </label>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a class="btn btn-outline-danger" href="@Url.Action("ViewUser", "Home")"><i class="fas fa-undo-alt"></i> Come back</a>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
<script src="~/admin/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        bsCustomFileInput.init();
    });
</script>