@model List<Payment>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_layout_UserHome.cshtml";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total
            </th>
            <th>
                Paid Date
            </th>
            <th>
                Ads
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
        </tr>
}
    </tbody>
</table>
