@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_layout_UserHome.cshtml";
}
@using Eproject_RealtorsPortal.Data;

@using (var connect = new LQHVContext())
{
    User user = ViewBag.users;

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">User /</span>Change Password</h4>

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("ViewAccountProfile","UserHome")"><i class="bx bx-user me-1"></i> Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ChangePassword","UserHome")"><i class="bx bx-bell me-1"></i> Change Password</a>
                    </li>
                </ul>
                <div class="card mb-4">
                    <hr class="my-0" />
                    <div class="card-body">
                        <div class="col-xxl">
                            <div class="card mb-4">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0"><i class='bx bx-lock-alt'></i>Change Password</h5>
                                    <small class="text-muted">For account security, please do not share your password with others</small>
                                </div>
                                <form asp-controller="UserHome" asp-action="ChangePassword" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="UsersId" value="@user.UsersId" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card mb-4">
                                                <div class="card-body demo-vertical-spacing demo-only-element">
                                                    <div class="form-password-toggle">
                                                        <div class="d-flex justify-content-between">
                                                            <label class="form-label" for="Current Password"> Current Password </label>
                                                            <a href="@Url.Action("ForgotPassword","UserHome")">
                                                                <small>Forgot Password?</small>
                                                            </a>
                                                        </div>
                                                        <div class="input-group">
                                                            <input type="password" name="oldPassword" required class="form-control" aria-describedby="basic-default-password2" />
                                                            <span id="basic-default-password2" class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-password-toggle">
                                                        <label class="form-label" for="A New Password">A New Password</label>
                                                        <div class="input-group">
                                                            <input type="password" name="newPassword"  required class="form-control" aria-describedby="basic-default-password2" />
                                                            <span id="basic-default-password2" class="input-group-text cursor-pointer"><i class="bx bx-hide"></i> </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-password-toggle">
                                                        <label class="form-label" for="Confirm Password">Confirm Password</label>
                                                        <div class="input-group">
                                                            <input type="password" name="ConfirmNewPassword" required class="form-control" aria-describedby="basic-default-password2" />
                                                            <span id="basic-default-password2" class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                                        </div>
                                                    </div>    
                                                    
                                                    @if (@ViewBag.result != null)
                                                    {                                                  
                                                            <p style="color: red">@ViewBag.result</p>        
                                                    }
                                                    <div class="row justify-content-end">
                                                        <div class="col-sm-10">
                                                            <button type="submit" class="btn btn-primary me-2">Save changes</button>
                                                            <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}