@model Eproject_RealtorsPortal.Models.City

@{
    ViewData["Title"] = "EditCity";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using Eproject_RealtorsPortal.Models;
@using Eproject_RealtorsPortal.Data;

@using (var db = new LQHVContext())
{
    List<Region> region = db.Regions.ToList();

    <section class="content pt-2 pb-1">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-md-3 col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Update City</h3>
                        </div>
                        <!-- form start -->
                        <form asp-action="EditCity" method="post" role="form">
                            <div class="card-body">
                                @if (@ViewBag.sg != null)
                                {
                                    <p style="color: green; font-weight:bold">@ViewBag.sg</p>

                                }
                                @if (@ViewBag.msg != null)
                                {
                                    <p style="color: red;">@ViewBag.msg</p>
                                }

                                <div class="form-group">
                                    <label for="txt-name">ID <small style="color: red;">*</small></label>
                                    <input type="text" class="form-control" id="txt-id" name="CitiesId" value="@Model.CitiesId" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="Role">Region</label>
                                    <select name="RegionsId" class="form-control">

                                        <option name="RegionsId" readonly value="@Model.RegionsId">@Model.RegionsId</option>

                                    </select>

                                    <div class="form-group">
                                        <label for="txt-name">City Name <small style="color: red;">*</small></label>
                                        <input type="text" class="form-control" id="txt-name" name="CitiesName" value="@Model.CitiesName" required>
                                    </div>

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <button type="reset" class="btn btn-outline-danger">Reset</button>
                                        <a class="float-end" href="@Url.Action("ViewCity", "Location")"><i class="fas fa-undo-alt"></i>Back to List</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
}